footer{
    width: 100%;
    .fodiv{
        width: 100%;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .fod1{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 1%;
            div{
                width: 23%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                a{
                    text-decoration: none;
                    color: gray;
                    &:hover{
                        color: $col3;
                    }
                }
            }
        }
        .fod2{
            width: 100%;
            display: flex;
            justify-content: space-between;
            p{
                i{
                    color: red;
                }
                a{
                    text-decoration: none;
                    color: $col3;
                }
            }
            ul{
                list-style: none;
                display: flex;
                gap: 10px;
                li{
                    transition: transform 1s ease;
                    &:hover{
                        color: $col3;
                        transform: rotateY(180deg);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) {
    footer{
        .fodiv{
            .fod1{
                gap: 1%;
                div{
                    width: 32%;
                }
            }
        }
    }
}
@media screen and (max-width: 426px) {
    footer{
        .fodiv{
            .fod1{
                div{
                    width: 98%;
                }
            }
            .fod2{
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}