header {
    width: 100%;

    .hdiv {
        width: 100%;
        min-height: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 40px;
        }

        .hd {
            width: 100%;
            min-height: 800px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            div {
                width: 31%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    transition: transform 1s ease;
                }

                &:hover img {
                    transform: scale(1.05);
                }

                a {
                    text-decoration: none;
                    font-size: 24px;
                    color: $col2;
                }

                p {
                    font-size: 18px;
                    color: $col3;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    header {
        .hdiv {
            .hd {
                div {
                    width: 45%;
                }
            }
        }
    }
}
@media screen and (max-width: 426px) {
    header {
        .hdiv {
            .hd {
                div {
                    width: 98%;
                }
            }
        }
    }
}